{
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "reactRuntime": "automatic",
        "reactImportSource": "@emotion/react"
      }
    ]
  ],
  "ignore": ["**/dist"],
  "sourceMaps": true
}
