{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "__PATH_PREFIX__": true
  },
  "plugins": ["react", "jsx-a11y", "prettier", "@typescript-eslint", "import"],
  "extends": [
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "react/no-unescaped-entities": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off",
    // "@typescript-eslint/no-var-requires": "off",
    "react/no-unknown-property": ["error", { "ignore": ["css"] }],
    "indent": ["error", 2],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "semi": ["error", "always"],
    "eqeqeq": ["error", "always"],
    "curly": ["error", "all"],
    "no-unused-vars": [
      "error",
      { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }
    ],
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 1 }],
    "no-var": ["error"],
    "import/order": [
      "error",
      {
        "groups": [
          ["builtin", "external"],
          ["internal", "parent", "sibling", "index"]
        ],
        "pathGroups": [
          {
            "pattern": "components/**",
            "group": "internal"
          },
          {
            "pattern": "utils/**",
            "group": "internal"
          },
          {
            "pattern": "hooks/**",
            "group": "internal"
          },
          {
            "pattern": "types/**",
            "group": "internal"
          },
          {
            "pattern": "styles/**",
            "group": "internal"
          },
          {
            "pattern": "pages/**",
            "group": "internal"
          },
          {
            "pattern": "templates/**",
            "group": "internal"
          },
          {
            "pattern": "context/**",
            "group": "internal"
          },
          {
            "pattern": "images/**",
            "group": "internal"
          }
        ],
        "pathGroupsExcludedImportTypes": [],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "no-console": ["warn", { "allow": ["warn", "error", "info"] }],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
