**/.cache
package.json
package-lock.json
packages/**/*.js
!packages/gatsby/cache-dir/**/*.js
!packages/*/src/**/*.js
!packages/gatsby-plugin-mdx/**/*.js
packages/gatsby-plugin-mdx/node_modules/**/*.js
packages/gatsby/cache-dir/commonjs/**/*.js
public

*.min.js
**/node_modules/**
flow-typed
deprecated-packages
